* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    color: hsl(224, 74%, 15%);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: rgb(105, 150, 235);
}

a[href^="mailto:"]::before {
    content: '📫';
    display: inline-block;
}

.hidden {
    display: none;
}

.accent-color {
    color: hsl(0, 84%, 70%);
}
.accent-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    max-width: calc(100% - 15px);
    margin: 0 auto;
}


header {
    padding: 1rem 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page-title {
    text-align: center;
    font-size: 2.2rem;
}

.filter-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.menu-list {
    display: grid;
    grid-template-columns: 1fr;
}

.filter-list, .menu-list {
    grid-gap: 1rem;
}

.filter-button {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    border: solid hsl(0, 0%, 54%) 1px;
    display: block;
    background-color: hsl(0, 0%, 84%);
}

.range-filter-wrapper {
    display: none;
}

.menu-item__picture {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 1rem;
}

.menu-item__heading, .menu-item__additional-info {
    display: none;
}

footer {
    padding: 1rem 0;
}

.footer-contacts {
    font-size: 1.2rem;
}

.footer-contacts a {
    display: block;
}

@media screen and (min-width: 730px) {
    .container {
        max-width: calc(100% - 40px);
    }
    .menu-list, .filter-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
    .menu-list__item {
        display: flex;
        background-color: hsl(0, 0%, 91%);
        border: solid hsl(0, 0%, 54%) 1px;
        border-radius: 1rem;
    }
    .menu-item__main-info, .menu-item__additional-info {
        padding: 15px;
    }
    .menu-item__main-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .menu-item__picture {
        border-radius: unset;
    }
    .menu-item__heading {
        display: block;
    }
    .menu-item__type {
        text-transform: capitalize;
    }
    .menu-item__type::after {
        content: ':';
    }
    .menu-item__title {
        display: inline-block;
        font-size: 1rem;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: calc(100% - 50px);
    }
    .page-title {
        font-size: 3rem;
    }
    main {
        display: grid;
        grid-template: "menu filter" minmax(100vh, 1fr) / auto 300px;
    }
    .menu-list {
        grid-area: menu;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(250px, max-content));
        grid-gap: 30px;
    }
    .menu-list__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 4px;
    }
    .menu-list__item:hover {
        box-shadow: rgba(0, 0, 0, 0.479) 4px 4px 5px 1px;
        transform: scale(1.01);
    }
    .menu-item__main-info {
        flex-direction: row;
    }
    .menu-item__picture {
        width: 50%;
    }
    .menu-item__type {
        display: block;
        font-size: 1.5em;
    }
    .menu-item__additional-info {
        display: block;
        border-top: inherit;
        padding-bottom: 40px;
    }
    main aside {
        padding: 5px 30px;
        grid-area: filter;
        background-color: rgb(231, 231, 231);
        border-radius: 4px;
        border: solid hsl(0, 0%, 54%) 1px;
    }
    .range-filter-wrapper {
        padding: 10px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .filter-list {
        display: flex;
        flex-direction: column;
    }
    .footer-contacts a {
        display: inline-block;
    }
}

.range-filter {
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
}

.range-wrapper {
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    background-color: rgb(16, 153, 216);
}

.range {
    width: 40%;
    height: 2px;
    background-color: rgb(8, 116, 167);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 20%;
}
.range::before, .range::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    background-color: rgb(8, 65, 129);
    border-radius: 50%;
    cursor: ew-resize;
}