a[href^="http"] {
    color: #4CAF50;
}
a[href*="google.com"] {
    color: #666;
}
a[target="_blank"]::after {
    content: '⇱';
    display: inline-block;
    margin-left: .25em;
    scale: -1 1 1;
}