* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Unbounded', cursive;
}
.hidden {
    display: none;
}
.container {
    padding: 20px;
}
label {
    display: inline-block;
}
ul {
    list-style: none;
}
#blocks:checked ~ label[for='blocks'],
#list:checked ~ label[for='list'] {
    transform: scale(1.2);
}

.dispay-mode-button {
    margin: 0 20px;
}

.dispay-mode-button__icon {
    width: 20px;
}
.product__title {
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}
.product__image {
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.products-list__item {
    margin: 20px;
    padding: 10px;
    border: solid 1px #222;
}
.stars-wrapper__label {
    display: inline-block;
    cursor: pointer;
}
.stars-wrapper__label::before {
    content: '\2605';
    font-size: 24px;
    color: #df902a;
}
.stars-wrapper__input:checked ~ .stars-wrapper__label::before {
    content: '\2606';
}
.stars-wrapper__input:checked + .stars-wrapper__label::before {
    content: '\2605';
}
.stars-wrapper:hover {
    filter: saturate(1.5);
}

.stars-wrapper:not(:has(.stars-wrapper__input:checked))
    .stars-wrapper__label::before {
    content: '\2606';
}
.product__adictive-info p {
    max-height: 75px;
    overflow: hidden;
}
.products-list__item:hover .product__adictive-info p {
    overflow-y: auto;
}

.product__adictive-info p::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(139, 139, 139);
}

.product__adictive-info p::-webkit-scrollbar-thumb {
    background-color: #222;
}
.product__price {
    font-size: 2.5rem;
    color: rgb(216, 55, 55);
}
/* -------------------------- BLOCK STYLES */

#blocks:checked ~ .shop .products-list__item {
    width: 340px;
    min-height: 450px;
    display: inline-block;
    vertical-align: top;
}
#blocks:checked ~ .shop .products-list__item .product__image {
    margin: 0 auto;
    display: block;
}
/* -------------------------- LIST STYLES */
#list:checked ~ .shop .products-list__item {
    display: block;
    height: auto;
}
#list:checked ~ .shop .products-list__item .product__image {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}
#list:checked ~ .shop .products-list__item .product__main-info {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    margin-left: 5%;
}
#list:checked ~ .shop .products-list__item .product__adictive-info {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    height: 200px;
    margin-left: 5%;
}
#list:checked ~ .shop .products-list__item .product__adictive-info p {
    height: 100%;
    max-height: unset;

}
@media screen and (max-width: 786px) {
    .dispay-mode-button {
        display: none;
    }
}

/* 1 */
.parent {
    position: relative;
}
.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 2 */
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 3 */
.parent {
    display: grid;
    place-items: center;
}
/* 4 */
.parent {
    display: grid;
}
.child {
    place-self: center;
}
