.slider {
    --slides-per-page-count: 3;
    --spacing: 1rem;
    --slides-per-move-count: 2;
    --slide-width: calc((100% - var(--spacing) * var(--slides-per-page-count)) / var(--slides-per-page-count));
    --move-width: calc((var(--spacing) + var(--slide-width)) * var(--slides-per-move-count));
    overflow: hidden;
}

.recipes-list {
    font-size: 0;
    white-space: nowrap;
}

.recipes-list-item {
    margin-right: var(--spacing);
    width: var(--slide-width);
}

#page-0:checked ~ .recipes-list {
    --index: 0;
}
#page-1:checked ~ .recipes-list {
    --index: 1;
}
.slider-control:checked ~ .recipes-list {
    transform: translateX(calc(var(--move-width) * var(--index) * -1));
}